@media(min-width: 768px) and (max-width: 1388px) {}

.dropdown:hover .dropbtn {
    background-color: #16ac98;
}

.navbar a {
    float: left;
    color: #c1f3ec;
    //text-align: center;
    padding: 12px 25px;
    text-decoration: none;
}