<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand" href="https://www.neoxam.com/">
                <img width="10%" style="border-radius: 25px;" src="../../assets/images/logotest.png"> NeoDoc
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
             </button>

            <ul class="navbar-nav me-auto mb2-m mb-lg-0">
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown" *ngIf="showAdminBoard">
                            <a *ngIf="isLoggedIn" class="nav-link active dropdown-toggle" aria-current="page" href="#" id="navbarDropdown navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gestion des utilisateurs</a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">lister les utilisateurs en attente</a></li>
                                <li> <a class="dropdown-item" href="user-list">lister tous les utilisateurs</a></li>
                                <li> <a class="dropdown-item" href="user-create">ajouter un administrateur</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" *ngIf="isLoggedIn" aria-current="page" routerLink="/user" href="#" id="navbarDropdown navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gestion des documents </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li> <a class="dropdown-item" href="#">lister tous les documents</a></li>
                                <li> <a class="dropdown-item" href="#">ajouter un document</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </ul>

            <button *ngIf="!isLoggedIn" type="button" class="btn-default" routerLink="/login">se connecter</button>
            <button *ngIf="!isLoggedIn" type="button" class="btn-default" routerLink="/signup">s'enregistrer</button>
            <!--
            <ul class="navbar-nav me-auto mb2-m mb-lg-0 ml-auto ">

                <li class="nav-item">
                    <a class="nav-link active" style="color:aqua" *ngIf="isLoggedIn" aria-current="page" routerLink="/profile"><br>{{username}}</a>
                </li>
                <button *ngIf="isLoggedIn" (click)="logout()" type="button" class="btn-default">logout</button>
            </ul> -->
            <ul class="navbar-nav ml-auto mb2-m mb-lg-0" *ngIf="isLoggedIn">
                <li class="nav-item">
                    <a routerLink="/profile" class="nav-link" style="color:aqua" routerLink="profile">{{ username }}</a>
                </li>
                <li class="nav-item">
                    <a href class="nav-link" (click)="logout()" class="btn-default" style="color:beige">déconnexion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>