<div *ngIf="isLoggedIn" class="container mt-2" style=' padding-top: 10px; '>
    <div class="card text-center" style=' color: #16ac98 ; padding: 20px; '>
        <div class="panel panel-primary">
            <div class=" panel-heading ">
                <h1><strong>Liste des utilisateurs</strong></h1>
                <hr/>
            </div>
            <div class="panel-body ">

                <div class="search-hero mat-form-field">
                    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Filtrer">
                </div>

                <div class="table-responsive ">
                    <table class="table table-striped ">
                        <thead>
                            <tr disabled>
                                <th></th>
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th>Nom d'utilisateur</th>
                                <th>Email</th>
                                <th>Poste</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users | async | paginate: { itemsPerPage: count, currentPage: p } | filter:searchText , let i = index ">
                                <td>{{i+1}}</td>
                                <td>{{user.firstname}}</td>
                                <td>{{user.lastname}}</td>
                                <td>{{user.username}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.poste}}</td>
                                <td><button (click)="open(content,user.id) " href="javascript:void(0); " class="btn btn-outline-danger ">Supprimer</button>
                                    <button (click)="updateUser(user.id) " class="btn btn-outline-info " style="margin-left: 10px ">Modifier</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="text-right ">
                <pagination-controls (pageChange)="p=$event "></pagination-controls>
            </div>
        </div>

        <ng-template #content let-c="close " let-d="dismiss ">
            <div class="modal-header ">
                <h4 class="modal-title " id="modal-basic-title ">Confirmation</h4>
                <button type="button " class="close btn " aria-label="Close " (click)="d( 'Cross click') ">    
                          <span aria-hidden="true ">×</span>    
                      </button>
            </div>
            <div class="modal-body ">
                <p>Etes vous sur de la suppression ?</p>
            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-outline-secondary " (click)="d( 'Cross click') ">Annuler</button>
                <button type="button " class="btn btn-outline-danger " (click)="c( 'yes') ">Supprimer</button>
            </div>
        </ng-template>
    </div>
</div>

<div *ngIf="!isLoggedIn" class="container mt-4">
    <div class="card text-center" style='padding: 20px;'>
        <h1>
            <Strong>Welcome to NeoDoc</Strong>
        </h1>
        <img class="img-responsive" src="../../../assets/images/1527067820254.jpg" alt=" " />
    </div>
</div>