<div class="container mt-5 ">
    <div class="row main-content bg-success text-center">
        <div class="col-md-4 text-center company__info box">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 login_form">
            <div class="container-fluid" *ngIf="!isLoggedIn">
                <div class="row">
                    <h2 class="animate__animated animate__bounce mt-5">Connexion</h2>
                </div>
                <div class="row">
                    <div class="form-group ">
                        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                            données érronées {{ errorMessage }}
                        </div>
                    </div>
                    <form class="form-group animate__animated animate__backInDown" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                        <div class="row"><input type="text" name="username" id="username" placeholder="Entrez votre nom d 'utilisateur ici svp" class="form__input" required [(ngModel)]="form.username" #username="ngModel" [class.is-invalid]="username.invalid && username.touched">
                            <small class="text-danger" [class.d-none]="username.valid || username.untouched" role="alert" *ngIf=" username.errors">le nom d'utilisateur est obligatoire</small>
                        </div>
                        <div class="row"><input type="password" ngModel name="password" id="password" placeholder="Entrez votre mot de passe ici svp" class="form__input" required [(ngModel)]="form.password" #password="ngModel" [class.is-invalid]="password.invalid && password.touched">
                            <small class="text-danger" [class.d-none]="password.valid || password.untouched" role="alert" *ngIf="password.errors">le mot de passe est obligatoire</small>
                        </div>
                        <input [disabled]="f.form.invalid" type="submit" value="se connecter" class="btn-default">
                        <div class="checkbox row mt-3">
                            <label><input type="checkbox" name="remember"> se souvenir de moi </label></div>
                        <br>
                    </form>
                </div>
                <div class="row" *ngIf="!isLoggedIn ">
                    <p><a routerLink="/forgotpassword" routerLinkActive="active">Mot de passe oublié?</a></p>
                </div>
                <div class="row md-5" *ngIf="!isLoggedIn ">
                    <p>Vous n'avez pas un compte? <a routerLink="/signup" routerLinkActive="active">S'inscrire</a>
                    </p>
                </div>

            </div>
            <div class="alert alert-success " *ngIf="isLoggedIn ">
                Logged in as {{ roles }}.
            </div>
        </div>

    </div>
</div>

<!-- Footer -->
<div class="container-fluid text-center footer ">
    <p>@copyright, NeoXam 2022</p>
</div>