<div *ngIf="!isLoggedIn" class="container mt-4">
    <div class="row main-content bg-success text-center">
        <div class="col-md-4 text-center company__info box">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 login_form">
            <div class="container-fluid" *ngIf="!isLoggedIn">
                <div class="row">
                    <h1 class="animate__animated animate__bounce mt-5"> <strong>Connexion</strong></h1>
                </div>
                <div class="row">
                    <small *ngIf="errorMessage!='' && f.submitted && isLoginFailed" class="text-danger">{{errorMessage}}</small>
                  
                    <form class="form-group animate__animated animate__backInDown" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

                        <div class="row">
                            <input type="text " [(ngModel)]="form.username " name="username " id="username " placeholder="Nom d 'utilisateur (prenom.nom)" class="form__input" required #username="ngModel" [class.is-invalid]="username.invalid && username.touched" minlength="7" maxlength="41"
                                pattern="^[a-z]+\.[a-z]+$">
                            <div *ngIf="username.errors && (username.invalid && username.touched)">
                                <small class="text-danger" *ngIf="username.errors?.['required']">le nom d'utilisateur est obligatoire</small>
                                <small class="text-danger" *ngIf="username.errors?.['pattern']">le nom d'utilisateur n'est pas valide, il doit etre sous la forme prenom.nom  <br> </small>
                                <small class="text-danger" *ngIf="username.errors?.['minlength'] || username.errors?.['maxlength']">le nom d'utilisateur doit contenir au moins 7 caractères et au plus 41 caractères</small>
                            </div>
                        </div>
                        <div class="row ">
                            <input type="password" name="password" id="password" placeholder="Mot de passe (minimum 8 caractères)" class="form__input" [(ngModel)]="form.password" required minlength="8" #password="ngModel">
                        </div>
                        <div *ngIf="password.errors && (password.invalid && password.touched)">
                            <small class="text-danger" *ngIf="password.errors?.['required']">le mot de passe est obligatoire</small>
                            <small class="text-danger" *ngIf="password.errors?.['minlength']">le mot de passe doit contenir au moins 8 caractères</small>
                        </div>
                        <input [disabled]="f.form.invalid" type="submit" value="S'authentifier" class="btn-default">
                        <div class="checkbox row mt-3">
                            <label><input type="checkbox" name="remember"> se souvenir de moi </label></div>
                        <br>
                    </form>
                </div>
                <div class="row" *ngIf="!isLoggedIn">
                    <p><a routerLink="/forgotpassword" routerLinkActive="active">Mot de passe oublié?</a></p>
                </div>
                <div class="row md-5" *ngIf="!isLoggedIn ">
                    <p>Vous n'avez pas un compte? <a routerLink="/signup" routerLinkActive="active">S'inscrire</a>
                    </p>
                </div>

            </div>

        </div>

    </div>
</div>

<div *ngIf="isLoggedIn" class="container mt-2">
    <div class="card text-center" style=' color: #16ac98 ; padding: 5px; '>
        <div class="panel panel-primary">
            <div class=" panel-heading ">
                <h1><strong> Favoris</strong></h1>
                <hr/>
            </div>
            <div class="panel-body ">
                <div class="search-hero mat-form-field">
                    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Recherche ">
                </div>
                <button type="button" class="btn btn-outline-info" (click)="Icone()">Mode Icone</button>
                <button type="button" class="btn btn-outline-dark" (click)="Contenue()">Mode Contenu</button>
                <hr/>
                <div *ngIf="showicon">

                    <div class="cardd" *ngFor="let doc of documents | async | paginate: { itemsPerPage: count, currentPage: p } | filter:searchText">

                        <span>
                            <img class=" delete " style="border-radius: 25px; " *ngIf="doc.contentType=='text/plain' || doc.contentType=='application/vnd.openxmlformats-officedocument.wordprocessingml.document'" src="assets/images/doc.png" width="50px " alt="file" (click)="afficher(doc.id)">
                            <img class="delete " *ngIf="doc.contentType=='application/pdf'" src="assets/images/pdff.png" width="55px " alt="file" (click)="afficher(doc.id)">
                            <img class="delete " *ngIf="doc.contentType=='application/vnd.openxmlformats-officedocument.presentationml.presentation'" src="assets/images/ppt.png" width="50px " alt="file " (click)="afficher(doc.id)">
                            <img class="delete " *ngIf="doc.contentType=='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'" src="assets/images/excel.png" width="55px " alt="file " (click)="afficher(doc.id)">
                            <img class="delete " style="border-radius: 25px; " *ngIf="doc.contentType=='application/zip' || doc.contentType=='application/rar' " src="assets/images/zip.png" width="65px " alt="file " (click)="afficher(doc.id) ">
                            <img class="delete " *ngIf="doc.contentType=='video/mp4' " src="assets/images/video.png" width="55px " alt="file " (click)="afficher(doc.id)">
                            <img class="delete " *ngIf="doc.contentType=='image/png' ||doc.contentType=='image/jpeg' ||doc.contentType=='image/jpg'" src="assets/images/image.png" width="45px " alt="file " (click)="afficher(doc.id) ">
                            <img class="delete " *ngIf="doc.contentType!='application/pdf' && doc.contentType!='image/png' && doc.contentType!='image/jpeg' && doc.contentType!='image/jpg' && doc.contentType!='video/mp4' && doc.contentType!='application/zip' && doc.contentType!='application/rar' && doc.contentType!='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' && doc.contentType!='text/plain' && doc.contentType !='application/vnd.openxmlformats-officedocument.presentationml.presentation' && doc.contentType !='application/vnd.openxmlformats-officedocument.wordprocessingml.document'" src="assets/images/other.png" width="55px " alt="file " (click)="afficher(doc.id) "></span>

                        <span>
                 
                    <div class="info ">
                       <br>
                       <div *ngIf="doc.name.length>=25;else moins"><h4 class="name ">
                        {{ doc.name.substr(0,22) }}...
                        </h4></div>
                        <ng-template  #moins> <h4 class="name ">
                            {{ doc.name }}
                            </h4></ng-template>
                        <p class="size ">
                            <b>Département :</b> {{ doc.departements }}
                        </p>
                        <br>
                        <p class="size"><b>Tags :</b> </p>
                        <p class="size" *ngFor="let lib of doc.tags">
                            - {{ lib.libelle }} 
                        </p>
                        <div *ngIf="doc.contentType.length>=30;else moinns"><p class="dep">
                            <b>Type : </b>
                            {{doc.contentType.substr(doc.contentType.indexOf('/') + 1, 10)}}... {{doc.contentType.substr(doc.contentType.length-6, doc.contentType.length)}}
                        </p></div>
                            <ng-template  #moinns> <p class="dep">
                                <b>Type : </b>
                                {{ doc.contentType }}
                            </p></ng-template>
                    
                        <br>
                        <img src="assets/images/ncoeur.png " class="delete " width="30px " alt="file " (click)="fromfav(doc) ">
                        <img src="assets/images/download.png " class="delete " width="30px " alt="file " (click)="downloadDoc(doc.id,doc.titre) ">
                        <img src="assets/images/edit.png " class="delete " width="30px " alt="file " (click)="opene(contente,doc.id) " href="javascript:void(0); " >
                        <img *ngIf="showAdminBoard " src="assets/images/Delete-red.png " class="delete " width="30px " alt="file " (click)="open(content,doc.id) " href="javascript:void(0); ">
                        <hr/> 
                     </div>
                 </span>
                    </div>
                </div>
                <div *ngIf="showcontenu">
                    <div class="table-responsive ">
                        <table class="table table-striped ">
                            <thead>
                                <tr disabled>
                                    <th style="width:0.1%"></th>
                                    <th style="width:0.2%">Icone</th>
                                    <th style="width:10%">Titre</th>
                                    <th style="width:10%">Type</th>
                                    <th style="width:2%">Département</th>
                                    <th style="width:10%">Tag</th>
                                    <th style="width:10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let doc of documents | async | paginate: { itemsPerPage: count, currentPage: p } | filter:searchText , let i=index">
                                    <td>{{i+1}}</td>
                                    <td> <img class=" delete " style="border-radius: 25px; " *ngIf="doc.contentType=='text/plain' || doc.contentType=='application/vnd.openxmlformats-officedocument.wordprocessingml.document'" src="assets/images/doc.png" width="50px "
                                            alt="file" (click)="afficher(doc.id)">
                                        <img class="delete " *ngIf="doc.contentType=='application/pdf'" src="assets/images/pdff.png" width="55px " alt="file" (click)="afficher(doc.id)">
                                        <img class="delete " *ngIf="doc.contentType=='application/vnd.openxmlformats-officedocument.presentationml.presentation'" src="assets/images/ppt.png" width="50px " alt="file " (click)="afficher(doc.id)">
                                        <img class="delete " *ngIf="doc.contentType=='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'" src="assets/images/excel.png" width="55px " alt="file " (click)="afficher(doc.id)">
                                        <img class="delete " style="border-radius: 25px; " *ngIf="doc.contentType=='application/zip' || doc.contentType=='application/rar' " src="assets/images/zip.png" width="65px " alt="file " (click)="afficher(doc.id) ">
                                        <img class="delete " *ngIf="doc.contentType=='video/mp4' " src="assets/images/video.png" width="55px " alt="file " (click)="afficher(doc.id)">
                                        <img class="delete " *ngIf="doc.contentType=='image/png' ||doc.contentType=='image/jpeg' ||doc.contentType=='image/jpg'" src="assets/images/image.png" width="45px " alt="file " (click)="afficher(doc.id) ">
                                        <img class="delete " *ngIf="doc.contentType!='application/pdf' && doc.contentType!='image/png' && doc.contentType!='image/jpeg' && doc.contentType!='image/jpg' && doc.contentType!='video/mp4' && doc.contentType!='application/zip' && doc.contentType!='application/rar' && doc.contentType!='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' && doc.contentType!='text/plain' && doc.contentType !='application/vnd.openxmlformats-officedocument.presentationml.presentation' && doc.contentType !='application/vnd.openxmlformats-officedocument.wordprocessingml.document'"
                                            src="assets/images/other.png" width="55px " alt="file " (click)="afficher(doc.id) ">
                                    </td>
                                    <td>{{doc.name}}</td>
                                    <td>{{doc.contentType}}</td>
                                    <td>{{doc.departements}}</td>
                                    <td>
                                        <p *ngFor="let lib of doc.tags">
                                            - {{ lib.libelle }}
                                        </p>
                                    </td>
                                    <td> <img *ngIf="favorita(doc)" src="assets/images/ncoeur.png " class="delete " width="30px " alt="file " (click)="fromfav(doc)">
                                        <img src="assets/images/download.png " class="delete " width="30px " alt="file " (click)="downloadDoc(doc.id,doc.titre)">
                                        <img src="assets/images/edit.png " class="delete " width="30px " alt="file " (click)="opene(contente,doc.id)" href="javascript:void(0); ">
                                        <img *ngIf="showAdminBoard " src="assets/images/Delete-red.png " class="delete " width="30px " alt="file " (click)="open(content,doc.id)" href="javascript:void(0); "></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="text-right ">
                    <pagination-controls (pageChange)="p=$event "></pagination-controls>
                </div>
            </div>
            <ng-template #content let-c="close " let-d="dismiss ">
                <div class="modal-header ">
                    <h4 class="modal-title " id="modal-basic-title ">Confirmation</h4>
                    <button type="button " class="close btn " aria-label="Close " (click)="d( 'Cross click ') ">    
                              <span aria-hidden="true ">×</span>    
                          </button>
                </div>
                <div class="modal-body ">
                    <p>Etes vous sur de la suppression ?</p>
                </div>
                <div class="modal-footer ">
                    <button type="button " class="btn btn-outline-secondary " (click)="d( 'Cross click ') ">Annuler</button>
                    <button type="button " class="btn btn-outline-danger " (click)="c( 'yes ') ">Supprimer</button>
                </div>
            </ng-template>

            <ng-template #contente let-c="close " let-d="dismiss ">
                <div class="modal-header ">
                    <h1 class="panel-heading " style=' color: #16ac98 ' id="modal-basic-title ">Modification d'un document</h1>
                    <button type="button " class="close btn " aria-label="Close " (click)="d( 'Cross click') ">    
                              <span aria-hidden="true ">×</span>    
                          </button>
                </div>

                <div class="modal-body ">

                    <form class="form-group animate__animated animate__backInDown " name="form" #f="ngForm">
                        <div class="form-group " style='color: #04352e'>
                            <label for="name ">Titre</label>
                            <input #name="ngModel" name [(ngModel)]="doc.name" [(ngModel)]="form.name" type="text " class="form__input " id="name " required name="name ">

                            <label for="name ">Type</label>
                            <input #contentType="ngModel" contentType [(ngModel)]="doc.contentType" disabled type="text " class="form__input " id="contentType " required name="contentType ">

                            <mat-form-field class="input">
                                <mat-chip-list #taglist>
                                    <mat-chip selected color="grey" *ngFor="let Tag of Tags" [selectable]="selectable" [removable]="removable" (removed)="remove(Tag)">
                                        {{Tag}}
                                        <mat-icon matChipRemove *ngIf="removable"> </mat-icon>
                                    </mat-chip>
                                    <input required minlength="2" maxlength="12" placeholder="Ajouter Tags" [matChipInputFor]="taglist" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)" />
                                </mat-chip-list>

                            </mat-form-field>

                            <br>
                            <label for="name ">Département</label>
                            <div *ngIf="showAdminBoard">
                                <select name="departements" id="departements" departements class="form__input" required #departements="ngModel" [(ngModel)]="doc.departements" [(ngModel)]="form.departements"> 

                                <optgroup label="DEV">
                                    <option value="Comet --DEV">Comet --DEV</option>
                                    <option value="DataHub --DEV">DataHub --DEV</option>
                                    <option value="GP --DEV">GP --DEV</option>
                                    <option value="Impress --DEV">Impress --DEV</option>
                                </optgroup>
                                <optgroup label="QA">
                                    <option value="Comet --QA">Comet --QA</option>
                                    <option value="DataHub --QA">DataHub --QA</option>
                                    <option value="GP --QA">GP --QA</option>
                                    <option value="Impress --QA">Impress --QA</option>
                                </optgroup>
                                <optgroup label="Autre">
                                    <option value="Commerce">Commerce</option>
                                    <option value="IT">IT</option>
                                    <option value="RH">RH</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div *ngIf="!showAdminBoard">
                                <select disabled name="departements" id="departements" departements class="form__input" required #departements="ngModel" [(ngModel)]="doc.departements" [(ngModel)]="form.departements"> 

                                <optgroup label="DEV">
                                    <option value="Comet --DEV">Comet --DEV</option>
                                    <option value="DataHub --DEV">DataHub --DEV</option>
                                    <option value="GP --DEV">GP --DEV</option>
                                    <option value="Impress --DEV">Impress --DEV</option>
                                </optgroup>
                                <optgroup label="QA">
                                    <option value="Comet --QA">Comet --QA</option>
                                    <option value="DataHub --QA">DataHub --QA</option>
                                    <option value="GP --QA">GP --QA</option>
                                    <option value="Impress --QA">Impress --QA</option>
                                </optgroup>
                                <optgroup label="Autre">
                                    <option value="Commerce">Commerce</option>
                                    <option value="IT">IT</option>
                                    <option value="RH">RH</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer ">
                    <button type="button " class="btn btn-outline-secondary " (click)="d( 'Cross click') ">Annuler</button>
                    <button type="button " class="btn btn-outline-info " (click)="c( 'yes') ">modifier</button>
                </div>


            </ng-template>

        </div>
    </div>
</div>


<!-- Footer -->
<div class="container-fluid text-center footer ">
    <p>@copyright, NeoXam 2022</p>
</div>
