<div class="container mt-5 ">
    <div class="row main-content bg-success text-center">
        <div class="col-md-4 text-center company__info box">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
            <small *ngIf="f.submitted && isResetPasswordFailed" class="alert-danger">{{errorMessage}}</small>
            <div class="alert alert-success" *ngIf="f.submitted && isSuccessful"> nouveau mot de passe crée avec succées </div>
            <div class="container-fluid">
                <div class="row ">
                    <h2 class="animate__animated animate__bounce mt-5">Reinitialiser le mot de passe</h2>
                </div>
                <div class="row">
                    <form class="form-group animate__animated animate__backInDown" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                        <div class="row ">
                            <input type="password" name="password" id="password" placeholder="Nouveau mot de passe (minimum 8 caractères)" class="form__input" [(ngModel)]="form.password" required minlength="8" maxlength="20" #password="ngModel">
                        </div>
                        <div *ngIf="password.errors && (password.invalid && password.touched)">
                            <small class="text-danger " *ngIf="password.errors?.[ 'required'] ">le mot de passe est obligatoire</small>
                            <small class="text-danger" *ngIf="password.errors?.['minlength']||password.errors?.['maxlength']">le mot de passe doit contenir au moins 8 caractères et au plus 20.</small>
                        </div>
                        <div class="row ">
                            <input type="password" ngModel name="CPassword" id="CPassword" placeholder="Confirmer le nouveau mot de passe" class="form__input" required minlength="8" [(ngModel)]="form.CPassword" #CPassword="ngModel" [class.is-invalid]="CPassword.invalid && CPassword.touched">
                        </div>
                        <div *ngIf="CPassword.errors && (CPassword.invalid && CPassword.touched)|| (password.value!=CPassword.value)">
                            <small class="text-danger" *ngIf="password.errors?.[ 'required']">le mot de passe est obligatoire</small>
                            <small class="text-danger" [class.d-none]="(password.value==CPassword.value) || CPassword.untouched">les 2 mots de passe ne sont pas identiques</small>
                        </div>
                        <input [disabled]="f.form.invalid" type="submit" value="valider" class="btn-default">
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- Footer -->
<div class="container-fluid text-center footer ">
    <p>@copyright, NeoXam 2022</p>
</div>