<div class="container mt-5 ">
    <div class="row main-content bg-success text-center">
        <div class="col-md-4 text-center company__info box">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-md-8 col-xs-12 col-sm-12 login_form ">

            <div class="container-fluid">
                <div class="row ">
                    <h2 class="animate__animated animate__bounce mt-3">Récupérer le mot de passe</h2>
                </div>
                <div class="row">
                    <p class="animate__animated animate__bounce mt-3">Vous recevrez un lien sur ce mail</p>
                </div>
                <div class="row">
                    <form class="form-group animate__animated animate__backInDown" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                        <div class="alert alert-success" role="alert" *ngIf="f.submitted && isSuccessful !isForgotPasswordFailed">
                            mail envoyé
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isForgotPasswordFailed && !isSuccessful">
                            Cet email n'existe pas
                        </div>

                        <!-- <div class="alert alert-success" *ngIf="f.submitted && !isForgotPasswordFailed ">
                            mail envoyé
                        </div>-->
                        <div class="row mt-1">
                            <input type="email" id="email" placeholder="Email (ex: prenom.nom@neoxam.com)" class="form__input" name="email" [(ngModel)]="form.email" email #email="ngModel" required [class.is-invalid]="email.invalid && email.touched" pattern="^[a-z]+\.[a-z]+@neoxam+\.com">
                            <!--<small class="text-danger " [class.d-none]="userEmail.valid || userEmail.untouched ">l'email est obligatoire</small> > </div> -->
                            <div *ngIf="email.errors && (email.invalid && email.touched)">
                                <small class="text-danger" *ngIf="email.errors?.['required']">l'Email est obligatoire</small>
                                <small class="text-danger" *ngIf="email.errors?.['pattern']">l'Email n'est pas valide</small>
                            </div>
                        </div>
                        <br>
                        <input [disabled]="f.form.invalid" type="submit" value="envoyer" class="btn-default ">

                    </form>
                </div>
                <div class="row mt-3">
                    <p>
                        <a routerLink="/login" routerLinkActive="active">Annuler</a>
                    </p>
                    <!--
                    <p><a routerLink="/resetpassword" routerLinkActive="active ">reset</a> </p>-->
                </div>
            </div>

        </div>

    </div>
</div>
<!-- Footer -->
<div class="container-fluid text-center footer ">
    <p>@copyright, NeoXam 2022</p>
</div>