<div *ngIf="isLoggedIn" class="container mt-3" style='width:700px; padding-top: 20px;'>
    <div class="card text-center " style=' color: #16ac98 ; padding: 20px;'>
        <h1><strong>Les détails de {{ user.firstname}} {{user.lastname}}</strong></h1>
        <hr/>
        <div *ngIf="user" style='color: #02312b ; padding: 20px; width:650px ;'>
            <div>
                <label><b>Nom : </b></label> {{ user.firstname}}
            </div>
            <div>
                <label><b>Prénom : </b></label> {{user.lastname}}
            </div>
            <div>
                <label><b>Nom d'utilisateur : </b></label> {{user.username}}
            </div>
            <div>
                <label><b>Email : </b></label> {{user.email}}
            </div>
            <div>
                <label><b>Département : </b></label> {{user.poste}}
            </div>
            <div>
                <label><b>Role:</b></label> {{ role }}

            </div>

        </div>

        <br>
        <button (click)="list()" class="btn btn-outline-secondary">Retour à la liste des utilisateurs</button><br>
    </div>
</div>

<div *ngIf="!isLoggedIn" class="container mt-4">
    <div class="card text-center" style='padding: 20px;'>
        <h1>
            <Strong>Welcome to NeoDoc</Strong>
        </h1>
        <img class="img-responsive" src="../../../assets/images/1527067820254.jpg" alt=" " />
    </div>
</div>