<ng-template #loggedOut>
    S'il vous plait login.
</ng-template>
<div class="container mt-5" style='width:500px; padding-top: 20px; background-color: azure; '>
    <div class="card text-center" style='color: #16ac98 ; padding: 20px; '>
        <div class="panel panel-primary">
            <div class=" panel-heading ">
                <h1><strong>Votre profil</strong></h1>
                <hr/><br>
            </div>
            <div class="panel-body ">
                <div class="container" style='color: #04352e' *ngIf="currentUser; else loggedOut">
                    <p>
                        <strong>Nom d' utilisateur : </strong>{{ currentUser.username }}
                    </p>
                    <p>
                        <strong>Nom : </strong> {{ currentUser.lastname }}
                    </p>
                    <p>
                        <strong>Prénom : </strong> {{ currentUser.firstname }}
                    </p>
                    <p>
                        <strong>Email : </strong> {{ currentUser.email }}
                    </p>
                    <p>
                        <strong>Département : </strong> {{ currentUser.poste}}
                    </p>

                    <strong>Roles : </strong> {{currentUser.roles}}
                    <!--
                    <ul>
                        <li *ngFor="let role of currentUser.roles">
                            {{ role }}
                        </li>
                    </ul>>
-->
                </div>
            </div>
        </div>
    </div>
</div>