<div class="container mt-5">
    <div class="card text-center" style=' color: #16ac98 ; padding: 20px; margin:250px; margin-top: 20px; margin-bottom: 40px;'>
        <div class="col-md-80 col-xs-12 col-sm-12 ">

            <h1><strong> Modifier un utilisateur</strong></h1>
            <hr/>
            <div class="container-fluid">
                <form class="form-group animate__animated animate__backInDown">
                    <div class="form-group" style='color: #04352e'>
                        <label for="name">Nom</label>
                        <input disabled type="text" class="form__input" id="firstname" required [(ngModel)]="user.firstname" name="firstname">

                        <label for="name">Prénom</label>
                        <input disabled type="text" class="form__input" id="lastname" required [(ngModel)]="user.lastname" name="lastname">

                        <label for="name">Nom d'utilisateur</label>
                        <input disabled type="text" class="form__input" id="username" required [(ngModel)]="user.username" name="username">

                        <label for="name">Email</label>
                        <input disabled type="text" class="form__input" id="email" required [(ngModel)]="user.email" name="email">

                        <div class="row ">
                            <label>choisissez votre poste : </label><br>
                            <select name="poste" id="poste" class="form__input" [(ngModel)]="user.poste" required #poste="ngModel"> 
                            <optgroup label="DEV">
                                <option value="Comet --DEV">Comet --DEV</option>
                                <option value="DataHub --DEV">DataHub --DEV</option>
                                <option value="GP --DEV">GP --DEV</option>
                                <option value="Impress --DEV">Impress --DEV</option>
                            </optgroup>
                            <optgroup label="QA">
                                <option value="Comet --QA">Comet --QA</option>
                                <option value="DataHub --QA">DataHub --QA</option>
                                <option value="GP --QA">GP --QA</option>
                                <option value="Impress --QA">Impress --QA</option>
                            </optgroup>
                            <optgroup label="Autre">
                                <option value="Commerce">Commerce</option>
                                <option value="IT">IT</option>
                                <option value="RH">RH</option>
                                </optgroup>
                            </select>
                            <div *ngIf="poste.errors && (poste.invalid && poste.touched)">
                                <small class="text-danger" *ngIf="poste.errors?.['required']">le poste est obligatoire</small>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-outline-secondary" (click)="retour()" style=" margin-right: 10px ">Annuler</button>
                    <button (click)="open(content) " href="javascript:void(0); " type="submit " class="btn btn-outline-info ">Enregistrer</button>
                </form>
            </div>
        </div>
        <ng-template #content let-c="close " let-d="dismiss ">
            <div class="modal-header ">
                <h4 class="modal-title " id="modal-basic-title ">Confirmation</h4>
                <button type="button " class="close btn " aria-label="Close " (click)="d( 'Cross click') ">    
                          <span aria-hidden="true ">×</span>    
                      </button>
            </div>
            <div class="modal-body ">
                <p>Voulez-vous vraiment modifier cet utilisateur ?</p>
            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-outline-secondary " (click)="d( 'Cross click') ">Annuler</button>
                <button type="button " class="btn btn-outline-info " (click)="c( 'yes') ">modifier</button>
            </div>
        </ng-template>

    </div>

</div>
<div class="container-fluid text-center footer ">
    <p>@copyright, NeoXam 2022</p>
</div>