/* You can add global styles to this file, and also import other style files */

.main-content {
    width: 100%;
    height: 50%;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .4);
    margin: 5em auto;
    display: block;
    justify-content: center;
}

.company__info {
    background-color: #16ac98;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(2, 43, 26);
}

@media screen and (max-width: 640px) {
    .main-content {
        width: 100%;
    }
    .company__info {
        display: none;
    }
    .login_form {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
}

@media screen and (min-width: 642px) and (max-width:800px) {
    .main-content {
        width: 100%;
    }
}

.row>h2 {
    color: #16ac98;
}

.login_form {
    background-color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

form {
    padding: 0.9 2em;
}

@media screen and (min-width: 100px) and (max-width:1633px) {
    .form__input {
        width: 100%;
        border: 4px solid transparent;
        border-radius: 0;
        border-bottom: 1px solid #aaa;
        padding: 1em .5em .5em;
        padding-left: 2em;
        outline: none;
        margin: 1.5em auto;
        transition: all .5s ease;
    }
}

.form-control {
    width: 100%;
    border: 4px solid rgb(48, 223, 86);
    border-radius: 0;
    border-bottom: 1px solid #aaa;
    padding: 1em .5em .5em;
    padding-left: 2em;
    outline: none;
    margin: 1.5em auto;
    transition: all .5s ease;
}

.form__input:focus {
    border-bottom-color: #16ac98;
    box-shadow: 0 0 5px rgba(0, 80, 80, .4);
    border-radius: 4px;
}

.icon {
    padding: 10px;
    background: #16ac98;
    color: white;
    min-width: 50px;
    text-align: center;
}

.btn-default {
    transition: all .5s ease;
    color: #f1fcfc;
    background-color: #16ac98;
    border: 1px solid #f1fcfc;
    border-radius: 15px;
    font-weight: 600;
    padding: 10px;
    margin: 10px;
}

.btn-default:focus {
    color: #16ac98;
    background-color: #f1fcfc;
}

html,
body {
    height: 100%;
}

body {
    margin: 10;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}